{% extends "base.html" %}

{% block title %}About Page: WestAF GDP{% endblock %}

{% block page_content %}
<div class="page header">
    <h1>About West Africa</h1>
    <p><strong>West Africa</strong> also called Western Africa and the West of Africa, is the westernmost region of Africa.
    <p>It has been defined as including 17 countries:
    <ul>
        <li>Benin
        <li>Burkina Faso
        <li>The Island nation of Cape Verde
        <li>Gambia
        <li>Ghana
        <li>Guinea
        <li>Guinea-Bissau
        <li>Ivory-Coast
        <li>Liberia
        <li>Mali
        <li>Mauritania
        <li>Niger
        <li>Nigeria
        <li>The Islands of Saint Helena
        <li>Ascension and Tristan da Cunha
        <li>Senegal
        <li>Sierra Leone
        <li>Togo.
    </ul>
    <p>The population of West Africa is estimated at about <strong>362 million</strong> people as of 2016.</p>
    <p>West Africa has a GDP(PPP) estimate of <strong>US$1.483 trillion</strong> as at 2015.</p>
</div>

{% endblock %}
