{% extends "base.html" %}

{% block title %}Dashboard: WestAF GDP{% endblock %}

{% block page_content %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <hr>
  <h3><small>In order to know the Gross Domestic Product of the under-listed countries between 1997 and 2017, take a pick!</small></h3>
  <a class="btn btn-success" href="/ben_year"> Benin Republic</a>
  <a class="btn btn-success" href="/bfa_year"> Burkina Faso</a>
  <a class="btn btn-success" href="/civ_year"> Cote D'Ivoire</a>
  <a class="btn btn-success" href="/ghana_year"> Ghana</a>
  <a class="btn btn-success" href="/nigeria_year"> Nigeria</a>
  <a class="btn btn-success" href="/senegal_year"> Senegal</a>
{% endblock %}

